* {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px;
	text-align: left;
	align-content: left;
	font-family:Helvetica;
	font-size: auto;
}

th {
	min-width: 250px;
}

.Info {
	padding-bottom: 15px;
}

.profimg {
	padding-left: 50px
}
